<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>

    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li style="color:red">{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}<br><br>
        {{ form.email.label_tag }} {{ form.email }}<br><br>
        {{ form.password.label_tag }} {{ form.password }}<br><br>
        {{ form.confirm_password.label_tag }} {{ form.confirm_password }}<br><br>
        
        {{ profile_form.as_p }}

        <button type="submit">Register</button>
    </form>
</body>
</html>
